.about-working-area {
    width: 93%;
    height: 90vh;
    border-radius: 0px;
    overflow-y: scroll;
}
.about-working-area{
    padding: 20px;
}
section h2 {
    color: #000000;
    padding: 10px;
}

section p {
    color: #2e2d2d;
    padding: 10px;
}

section ul li a {
    color: #2e2d2d;
    text-align: left;
    padding: 10px;
}

section ul li {
    color: #2e2d2d;
    text-align: left;
    padding: 10px;
}

section ul li strong {
    color: #2e2d2d;
    text-align: left;
    font-weight: 600;
    padding: 10px;
}